# Mac OSX
._*
.DS_Store
.Spotlight-V100
.Trashes
Thumbs.db 
Desktop.ini

# Capistrano
Capfile
config/deploy.rb
config/deploy/production.rb


# WordPress
.htaccess
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
sitemap.xml
*.log
wp-content/cache/
wp-content/backups/
sitemap.xml.gz
wp-config.php

# Custom
lib/wpSiteSync/config.sh
